body {
  font-family: 'SF Pro';
  background-color: rgb(0, 0, 0);
}

h1 {
  margin: 0;
}

.main-container {
  display: inline-grid;
}
.g-c1 {
  grid-column-start: 1;
  grid-column-end: 1;
}
.g-c2 {
  grid-column-start: 2;
  grid-column-end: 2;
}
.g-c3 {
  grid-column-start: 3;
  grid-column-end: 3;
}

.container-item {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  margin: 25px 15px;
}

.clock-container {
  height: 150px;
  width: 150px;
}

.home-button {
  padding: 30px;
  background-color: white;
  color:dodgerblue;
  margin:5px;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border-width: 0;
  box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.26);
  font-weight: bold;
  font-size: 16px;
}
